<header>
  <img src="../assets/images/logo.png" alt="MoviePitch">
  <a href="/"><span>Movie</span>Pitch</a>
</header>
<app-spinner [loaderType]="'overlay-spinner'"></app-spinner>
<main>  
  <section class="column-center">
    <div class="row full-width">
      <mat-form-field class="full-width">
        <mat-label>One line explanation</mat-label>
        <input matInput [(ngModel)]="userInput" placeholder="Enter one line movie summary" />
      </mat-form-field>
      <button mat-icon-button (click)="inputSubmitted()"><mat-icon>send</mat-icon></button>
    </div>
    <img class="movie-poster" [src] = "selectedImageUrl | safe: 'url'" />
    <div class="column-center" class="full-width">
      <!-- <h1>{{title}}</h1> -->
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title" placeholder="Title" />
      </mat-form-field>

      <!-- <h2>{{getStars()}}</h2> -->
      <mat-form-field class="full-width">
        <mat-label>Movie Stars</mat-label>
        <input matInput [(ngModel)]="stars" placeholder="Movie Stars" />
      </mat-form-field>

      <!-- <p>{{synopsis}}</p> -->
      <mat-form-field class="full-width">
        <mat-label>Movie Synopsis</mat-label>
        <textarea matInput [(ngModel)]="synopsis"></textarea>
      </mat-form-field>
      <!-- <h5 *ngFor="let character of characterNames">{{character}}</h5> -->
    </div>
  </section>  
  <!-- The Output --> 
  <section class="output-container" id="output-container">
    <div id="output-img-container" class="output-img-container">
    </div>
    <h1 id="output-title"></h1>
    <h2 id="output-stars"></h2>
    <p id="output-text"></p>
  </section>
</main> 
<footer>
  &copy; 2023 MoviePitch All rights reserved
</footer>
<!-- <router-outlet></router-outlet> -->
