/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
	width: 100%;
}

.row{
	display: flex;
	flex-direction: row;
}

.column-start{
	display: flex;
	flex-direction: column;	
}

.column-center{
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}

/* =================
      Typography 
     ================= */

h1 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}

h2 {
    font-size: 1.3em;
 	text-align: center;   
}

p {
    line-height: 1.35em;
}